/*** RELACIONES ***/
.rela1:hover .rel1-text {bottom:0px;transition:0.5s;}

.rela1:hover .rel1-name {bottom:350px;transition:0.5s;}

.rel1-name {
    background: var(--colorela);
    opacity: 1;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    text-shadow: 1px 1px 1px black;
    line-height: 100%;transition:0.5s;
    bottom: 10px;
    position: absolute;
    left: 10px;
    padding: 10px;
    max-width: 150px;
    border-radius: 6px;
}

.relaciones1 {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.rela1 {
    border: var(--borde2);
    width: 200px;
    margin: 5px;
    height: 320px;
    overflow: hidden;
    position: relative;background:var(--rfoto);
}

.rela2 {
    border: 1px solid var(--colorela);
    margin: 5px;
    height: 305px;
    overflow: hidden;
    position: relative;
}

.rel1-text {
    position: absolute;
    left: 0px;
    bottom: -350px;
background: #0e0e0ec9;
    backdrop-filter: blur(3px);
    height: 100%;
    box-sizing: border-box;
    border: 20px solid transparent;
    font-size: 11px;
    overflow: auto;
    padding-right: 5px;transition:0.5s;
}


/*** EXPEDIENTE ***/
/**/

.expediente input#pesta1:checked ~ .exp-pestis label[for="pesta1"] {background:var(--grupo-color);}
.expediente input#pesta2:checked ~ .exp-pestis label[for="pesta2"] {background:var(--grupo-color);}
.expediente input#pesta3:checked ~ .exp-pestis label[for="pesta3"] {background:var(--grupo-color);}

.expediente input#pesta1:checked ~ .env-middle .ep1 {bottom:-400px;}
.expediente input#pesta2:checked ~ .env-middle .ep2 {bottom:0px;}
.expediente input#pesta3:checked ~ .env-middle .ep3 {bottom:0px;}

.exp-pestis label {
    width: 15px;
    height: 15px;
    display: block;
    margin-right: 10px;
    padding: 0px;
    line-height: 100%;
    border: 2px solid var(--grupo-color);
    border-radius: 100%;
    cursor: pointer;
}

.pholi {
position: absolute;
    width: 600px;
    height: 400px;
    background: #080808db;
    transition: 0.5s;
    left: 0px;
    backdrop-filter: blur(5px);
    bottom: -400px;
    box-sizing: border-box;
    padding: 45px;
}

.pest-text {
    height: 100%;
    overflow: auto;
    padding-right: 10px;
    margin-right: -10px;
    font-size: 13px;
}

.env-middle {
    width: 600px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.exp-pestis {
position: absolute;
    right: 20px;
    top: 38px;
    font-size: 25px;
    display: flex;
}

.expediente input {display:none;}

/**/
.exp-middle {
    height: 400px;background:var(--foto-expediente);
}

.exp-data div b {
    color: var(--grupo-color);
    font-weight: 900;
    margin-right: 10px;
}

.exp-down {
    border-top: 3px solid var(--grupo-color);
    background: var(--fondo2);
    box-sizing: border-box;
    padding: 10px;
}

.exp-quote i {
    position: absolute;
    left: 0px;
    height: 100%;
    display: flex;
    align-items: center;
    top: 0px;
    font-size: 16px;
    width: 50px;
    justify-content: center;
    color: var(--grupo-color);
}

.exp-quote {
    border: var(--borde2);position:relative;
    padding: 5px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 50px;
    font-style: italic;
    background: var(--borde2-c);
    margin-bottom: 10px;
}

.exp-data {
    border: var(--borde2);
    display: flex;
    flex-wrap: wrap;border-bottom: none;border-right: none;
}

.exp-data div {
    width: 50%;
    box-sizing: border-box;
    border-right: var(--borde2);
    height: 35px;
    border-bottom: var(--borde2);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    overflow: hidden;
}

.expediente .exp-up {
    height: 100px;
    border-bottom: 3px solid var(--grupo-color);
    background: var(--fondo2);
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 30px;
}

.exp-name {
    display: block;
    background: var(--grupo-color);
    width: fit-content;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: 900;
    text-shadow: var(--sombra);
    border-radius: 8px;
}

.expediente {
border: var(--borde2);
    width: 600px;
    margin: 0 auto;
    background: var(--fondo3);
    position: relative;
    display: flex;
    flex-direction: column;
}

.expediente br {display: none;}


/*** NPCS ***/

.npc-title {
    width: 600px;
    overflow: hidden;
    margin: 0 auto;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.npc-title:before {
    content: ' ';
    width: 100%;
    position: absolute;
    left: 0px;
    top: 50%;
    height: 1px;
    background: var(--grupo-color);
}

.npc-title div {
    border: 1px solid var(--grupo-color);
    padding: 15px 25px;
    text-transform: uppercase;
    font-weight: 900;
    background: var(--fondo2);
    position: relative;
    line-height: 100%;
}

.base-npc .bnpc-photo {
    margin: 15px;
    box-sizing: border-box;
    border: 1px solid var(--grupo-color);
    height: 170px;
    outline: 1px solid var(--grupo-color);
    outline-offset: -1px;transition:0.5s;
}

.base-npc .bnpc-data d:before {
    content: '\ea69';
    color: var(--grupo-color);
    margin-right: 10px;
    margin-left: -10px;
    font-family: 'IcoFont';
}

.base-npc .bnpc-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    height: 100%;opacity: 0;
    transition: 0.5s;background: var(--fondo1);
}

.base-npc:hover .bnpc-data {opacity:1;transition:0.5s;}

.base-npc:hover .bnpc-photo {outline-offset: 15px;transition:0.5s;}

.base-npc .bnpc-name span {
    font-size: 11px;
    background: var(--grupo-color);
    color: var(--textobase);
    font-weight: 700;
    padding: 5px 10px;
    margin: -5px;
    border-radius: 7px;
    text-shadow: var(--sombra);
}

.base-npc .bnpc-text {
    margin: 15px;
    padding-right: 10px;
    font-size: 12px;
    overflow: auto;
    height: 120px;
}

.base-npc {
    width: 605px;
    margin: 0 auto;
    display: flex;
}

.base-npc .bnpc-img {
    width: 200px;
    border: var(--borde2);
    height: 200px;
    background: var(--fondo2);
    margin-right: 10px;
}

.base-npc .bnpc-right {
    width: 390px;
    border: var(--borde2);
    height: 200px;
    position: relative;
    overflow: hidden;
}

.base-npc .bnpc-name {
    border-bottom: var(--borde2);
    background: var(--fondo2);
    display: flex;justify-content: flex-end;
    align-items: center;
    padding: 15px;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--grupo-color);
}

.base-npc.alt {flex-direction: row-reverse;}
.base-npc.alt .bnpc-img {margin-right: 0px;margin-left: 10px;}
.base-npc.alt .bnpc-name {justify-content: flex-start;}

.base-npc br {display: none;}
.base-npc .bnpc-text br {display: block;}


/*** ACCIONES ADMIN ***/

.admintalk .at-line {
    height: 5px;
    background: var(--gradient1);
    border-radius: 10px;
    margin: -10px 0px;
}

.admintalk .at-text {
    border: var(--borde2);
    padding: 35px;
    background: var(--fondo3);
    font-size: 13px;
}

.admintalk .at-icon {
    font-size: 40px;
    line-height: 100%;
    background: var(--gradient1);
    -webkit-background-clip: text;
    color: transparent;
    margin: 0 auto;
    margin-bottom: -10px;
    width: fit-content;
}

.admintalk {
    width: 400px;
    margin: 0 auto;margin-bottom:25px;
}

.admintalk .at-title {
    border: var(--borde2);
    background: var(--fondo2);
    padding: 15px;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

/*** BASE TAB ***/

.bt-titulo2 div {
width: fit-content;
    margin: 0 auto;
    background: var(--grupo-color);
    padding: 12px;
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 15px;
    text-shadow: var(--sombra);
    border-radius: 10px;
    position: relative;
    z-index: 1;
}

.bt-titulo2:after {
    display: block;
    content: ' ';
    height: 1px;
    width: 100%;
    background: var(--borde2-c);
    position: relative;
    top: -23px;
}

.btexto {padding: 45px;
    font-size: 13px;}

.btexto br:first-of-type {display: none;}

.bsubtitulo {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;}

.bsubtitulo div {
    background: var(--grupo-color);
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    text-shadow: var(--sombra);
    border-radius: 0px 0px 10px 10px;
}

div#base1 {
    border: var(--borde2);
    margin: 35px;
}

div#base1 i {color:var(--grupo-color);}

.btitulo {
    border-bottom: 5px solid var(--grupo-color);
    padding: 40px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    background: var(--fondo2);
}

busqueda.abierta:after , busqueda.cerrada:after {
    content: '\ec8c';
    position: absolute;
    height: 35px;
    width: 35px;
    background: var(--borde2-c);
    left: -20px;
    top: 50%;
    margin-top: -20px;
    display: flex;
    font-family: 'IcoFont';
    font-size: 18px;
    align-items: center;
    justify-content: center;
    color: var(--grupo-color);
    border-radius: 100%;
    border: 2px solid var(--grupo-color);
}

 busqueda.cerrada:after {content:'\ec61';}


.btexto .bb-cuadro br:first-of-type {
    display: block!important;
}

div#base1 busqueda .bb-title {
    color: var(--grupo-color);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 900;
}

div#base1 busqueda .bb-datos {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 1px;
}

div#base1 busqueda .bb-texto {
    margin-top: 15px;
    max-height: 250px;
    overflow: auto;
    padding-right: 30px;
}

div#base1 busqueda {
display: flex;
    flex-direction: column;
    border-left: 2px solid var(--borde2-c);
    padding: 10px 0px 10px 40px;
    position: relative;
}

div#base1 busqueda br {display:none;}

div#base1 busqueda .bb-texto br {display:block;}

div#base1 .bb-cuadro {
    border: 1px solid var(--grupo-color);
    padding: 35px;
    margin: 20px;
    outline: 1px solid var(--borde2-c);
    outline-offset: -7px;
}
